*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
}



.nav_bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;

}

.nav_logo{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #0a0a0a;

}



.nav_list{

    display:flex ;
    gap: 30px;
    list-style: none;

}

.nav_link{
    text-decoration: none;
    padding-bottom: 5px;
    color: #0a0a0a;
    font-weight: 600;
    position: relative;
}

.nav_link-act::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #3b82f6;
}
.nav_link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #3b82f6;
}




@media screen and (max-width: 768px) {
  .nav_menu {
    display: none;
  }

  .nav_toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}